body {
    font-family: 'MetropolitanoRegular';
   font-weight: normal;
   font-style: normal; 
   background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header a {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}

a:hover{
    color: lawngreen;
}
.header ul {
    display: flex;
    list-style: none;
}

.header li {
    padding: 20px;
}