body {
    font-family: 'MetropolitanoRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0%;
    background-repeat: no-repeat;
}

div {
    border: 2px solid white;
}

.header {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    height: 10%;
    background-color: #1F2937;
    /*     box-shadow: 0px 5px 5px teal; */
}

.header img {
    display: flex;
    max-height: 100%;
}

.header a {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}


/* a:hover {
    color: lawngreen;
}
 */

.header ul {
    display: flex;
    list-style: none;
}

.header li {
    padding: 20px;
}

.part-one {
    background-color: #1F2937;
    padding: 0 5%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    gap: 2%;
}


/* .intro {
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    gap: 2%;
} */

.intro img {
    max-width: 100%;
    max-height: 100%;
}

.img-intro {
    flex: 0 0 50%;
}

.random-info {
    background-color: white;
}