body {
    font-family: 'MetropolitanoRegular';
    font-weight: normal;
    font-style: normal;
    background-color: #1F2937;
}

div {
    border: 2px solid white;
}

.header {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    height: 10%;
    box-shadow: 0px 5px 5px teal;
}

.header img {
    display: flex;
    max-height: 100%;
}

.header a {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}

a:hover {
    color: lawngreen;
}

.header ul {
    display: flex;
    list-style: none;
}

.header li {
    padding: 20px;
}

.intro {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 75%;
    gap: 2%;
}

.intro img {
    max-width: 100%;
    max-height: 100%;
}

.img-intro {
    flex: 0 0 60%;
}